@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="home-page">
            <h2>Create a new Spotify Playlist</h2>
            <h3>Spotify Curator</h3>
            <div class="text-center">
                <a asp-page="./Authentication/Authentication" class="btn btn-default">Start</a>
            </div>
        </div>
    </div>
</div>