@page
@{
    ViewData["Title"] = "Confirmation";
}

<div class="row">
    <div class="confirmation-page col-md-10">
        <div class="row">
            <h2>Your playlist is now created!</h2>
        </div>
        <div class="row">
            <h3>Head over to Spotify and enjoy the best tunes</h3>
        </div>
        <div class="row">
            <p>You can come pack to create a new playlist anytime!</p>
        </div>
        <div class="row">
            <a asp-page="./Create" class="btn btn-default">Create a new playlist</a>
        </div>
    </div>
</div>