@page
@model SpotifyPlaylistCurator.Pages.Authentication.AuthenticationModel
@{
    ViewData["Title"] = "Authentication";
}

<h2>Authentication</h2>
<form method="POST">
    <div></div>
    <input type="submit" />
</form>
